<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow">
		<meta name="theme-color" content="#f4f5f6">
		<meta name="apple-mobile-web-app-status-bar-style" content="#f4f5f6">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ARC5 | Questionnaire.</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/milligram.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="icon" href="https://milligram.github.io/img/favicon.png">
		<script src="js/d3.v3.min.js" charset="utf-8"></script>

	</head>
	<body>
		<main class="wrapper">
		<div class="container">
			<div class="row">
    		<div class="column">
					<header>
						<h1>
							Enquête ARC5
							<br>
							<small>Culture et Recherche en Rhône-Alpes</small>
						</h1>
						<p>Mars 2016 - <a href="http://clementrenaud.com">Clément Renaud</a></p>
					</header>
					<hr>
					<h3>Résultats Questionnaires</h3>
					<p>
						Le présent questionnaire a été diffusé de façon électronique par mail. Pour héberger le questionnaire, nous avons choisi d’utiliser la plateforme open-source LimeSurvey, que nous avons installé sur un serveur privé. Les deux questionnaires ont ensuite été créés puis publiés en ligne via le site personnel de l’auteur de l’enquête, où les répondants avaient accès directement à une interface.
					</p>
					<p>
						Dans ces questionnaires, nous interrogeons les acteurs d’une part sur des questions d’ordre général concernant leurs visions des collaborations entre recherche et culture, et d’autre part de nous concentrer plus particulièrement sur la description d’un seul projet comme support du questionnement. En effet, il nous a semblé pertinent de recueillir les réactions et attentes des sondés sur la base d’expériences vécues.
					</p>
					<p>
						La réalisation de l’enquête s’est faite entre le 15 Décembre et le 31 Janvier auprès des potentiels répondants. Sa diffusion était prise en charge par deux partenaires importants :
						<ul>
								<li>
									L’Observatoire des Politiques Culturelles, qui s’est chargé de diffuser l’enquête auprès des acteurs culturels via sa mailing list habituelle
								</li>
								<li>
									L’ENS (gestionnaire de l’ARC5), qui a diffusé l’enquête sur la listes ARC
								</li>
						</ul>

					</p>

					<p>
						Télécharger
						<a href="ARC5-survey-final-results.csv">les données</a>
						et
						<a href="ARC5-survey-description.csv">leurs descriptions</a>
						.
					</p>
					<hr>
				</div>
			</div>

			<h2>Plan de l'enquête</h2>
	    <ul id="navigation">
	    {% for item in answers %}
						{% if item.chartType == "title" %}
							<h4>
						{% elif item.chartType == "subtitle" %}
							<h5>
						{% endif %}
						<li>
							<a href="#{{ item.name }}">{{ item.description }}</a>
						</li>
						{% if item.chartType == "title" %}
								</h4>
						{% elif item.chartType == "subtitle" %}
							</h5>
						{% endif %}
					{% if item.subquestions %}
						<ul>
							{% for sub in item.subquestions%}
								<li><a href="#{{ item.name }}">{{ sub.description }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
	    {% endfor %}
	    </ul>

			<hr>
			<h2>Les résultats de l'enquête</h2>
	    {% for item in answers %}
					{% if item.chartType == "title" %}
						<h3 id="{{item.name}}">{{item.description}}</h3>
					{% elif item.chartType == "subtitle" %}
						<h4 id="{{item.name}}">{{item.description}}</h4>
					{% elif item.chartType == "list" %}
						<h5 id="{{item.name}}">{{item.description}}</h5>
						<ul id="navigation">
							{% for result in item.results %}
								{% if result %}<li>{{ result }}</li>{% endif %}
			    		{% endfor %}
			    	</ul>
					{% else %}
						<h5 id="{{item.name}}">{{item.description}}</h5>
						<div id="{{item.name}}-chart" class="row">
							<canvas  width="800" height="400"></canvas>
						</div>
					{% endif %}
	    {% endfor %}
	</div>
</div>
		</main>
		<script src="js/jquery.js" charset="utf-8"></script>
		<script src="js/Chart.min.js" charset="utf-8"></script>
		<script src="js/Chart.HorizontalBar.js" charset="utf-8"></script>
		<script src="js/legend.js" charset="utf-8"></script>
		<!--
		<script src="js/jquery.peity.js" charset="utf-8"></script> -->
		<script type="text/javascript">
		window.onload = function() {
			console.log("loaded!");

			var createPieChart = function (id, data){
				// Get the context of the canvas element we want to select
				var ctx = $("#"+id+" canvas")[0].getContext("2d");
				var myNewChart = new Chart(ctx).Pie(data);
			}

			var randomColorGenerator = function () {
			    return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
			};
			var createBarGraph = function (id, data){
				// Get the context of the canvas element we want to select
				var ctx = $("#"+id+" canvas")[0].getContext("2d");
				// console.log(data);
				var final = {
					'labels' : [],
					datasets: []
				}
				var dataset = {
					fillColor: randomColorGenerator(),
					strokeColor: "rgba(220,220,220,0.8)",
					highlightFill: "rgba(220,220,220,0.75)",
					highlightStroke: "rgba(220,220,220,1)",
					data:[]
				};
				data.forEach(function(d){
					final.labels.push(d.label);
					dataset.data.push(Number(d.value));
				})
				final.datasets.push(dataset);

				var myBarChart = new Chart(ctx).HorizontalBar(final);
				// legend($("#"+id+" .legendChart")[0], data);
			}

			{% for item in answers %}
				// console.log("{{ loop.index}}");
				// console.log("{{item.chartType}}");
				{% if item.chartType == "pie" %}
					createPieChart("{{item.name}}-chart", {{ item.chartData | tojson}})
				{% elif item.chartType == "bargraph" %}
					createBarGraph("{{item.name}}-chart", {{ item.chartData | tojson}})
				{% endif %}
			{% endfor %}

		}

		</script>
	</body>
</html>
